@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'].switch {
        --active: #275EFE;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 38px !important;
        border-radius: 11px;
        padding: 0 !important;
        height: 21px;
        outline: none;
        display: inline-block !important;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border)) !important;
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;

        &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
        }

        &:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }

        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: .9;

            &:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }

            &+label {
                cursor: not-allowed;
            }
        }

        &:hover {
            &:not(:checked) {
                &:not(:disabled) {
                    --bc: var(--border-hover);
                }
            }
        }

        &:focus {
            box-shadow: 0 0 0 var(--focus);
        }

        &:not(.switch) {
            width: 21px;

            &:after {
                opacity: var(--o, 0);
            }

            &:checked {
                --o: 1;
            }
        }

        &+label {
            font-size: 14px !important;
            line-height: 21px !important;
            display: inline-block !important;
            vertical-align: top !important;
            cursor: pointer;
            margin-left: 4px !important;
            left: auto !important;
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        &:not(.switch) {
            border-radius: 7px;

            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 7px;
                top: 4px;
                transform: rotate(var(--r, 20deg));
            }

            &:checked {
                --r: 43deg;
            }
        }

        &.switch {
            width: 38px;
            border-radius: 11px;

            &:after {
                left: 2px;
                top: 2px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }

            &:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }

            &:disabled {
                &:not(:checked) {
                    &:after {
                        opacity: .6;
                    }
                }
            }
        }
    }


    .fill-tick {
        --background: #fff;
        --border: #D1D6EE;
        --border-hover: #BBC1E1;
        --border-active: #1E2235;
        --tick: #fff;
        position: relative;
        --stroke: var(--tick);
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;

        svg {
            width: 21px;
            height: 21px;
            display: block;
            --scale: 0;
            pointer-events: none;
            fill: none;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: var(--stroke, var(--border-active));
            position: absolute;
            top: 0;
            left: 0;
           
            -webkit-transform: scale(var(--scale, 1)) translateZ(0);
            transform: scale(var(--scale, 1)) translateZ(0);
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
            width: 21px;
            height: 21px;
            display: block;
            outline: none;
            background: var(--background);
            border: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            border-radius: 4px;
            -webkit-transition: box-shadow .3s;
            transition: box-shadow .3s;
            box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
        }

        input:checked {
            --s: 11px;
            --b: var(--border-active);
        }

        input:checked+svg {
            -webkit-animation: tick-bounce .4s linear forwards .2s;
            animation: tick-bounce .4s linear forwards .2s;
        }
    }
    @keyframes tick-bounce {
        50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
        75% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}