/* WorkSans*/
@font-face{
    @font-face {
        font-family: 'WorkSans';
        font-style: normal;
        font-weight: 400;
        src: url('../../public/fonts/WorkSans-Regular.ttf')
      }
}
/* Lora */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/Lora-Regular.ttf');
  }
  /* Montserrat */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/Montserrat-Regular.ttf')
  }
/*Open Sans*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/OpenSans-Regular.ttf')
}
/**/
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Bitter-Regular.ttf')
}
/*code fonts*/
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/UbuntuMono-Regular.ttf')
}
/* Quote Fonts*/
@font-face {
  font-family: 'Morga';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Mogra-Regular.ttf')
}